
<br><br>
<div class="col-md-1"></div>
<div class="col-md-14" onload="test()">
	<div class="row">
    Select a response code:

    <select id="dropdown_change">
      <option value="*">all</option>
      <option value=200>200</option>
      <option value=301>301</option>
      <option value=400>400</option>
      <option value=404>404</option>
      <option value=500>500</option>
    </select>
	
    <input type="submit" value="Submit" id="btnSubmit">


  
    <ul class="legend">
      <li><span class="twohundred"></span> 200 </li>
      <li><span class="threehundred"></span> 300 </li>
      <li><span class="fourhundred"></span> 400 </li>
      <li><span class="fourhundredfour"></span> 404 </li>
      <li><span class="fivehundred"></span> 500 </li>
    </ul>

  
   <div id="container"></div>
	</div>
</div>
<div class="col-md-1"></div>











