<ul class="nav nav-tabs">
	<li class="sidebar-brand"><a href="#">ELK Administrator</a></li>
    <li><a href="/elk_dashboard_landing">Dashboard</a></li>
    <li><a href="/elk_dashboard_landing1">Data Traffic Monitoring</a></li>
    <li><a href="/elk_dashboard_landing2">Response Time Graphs</a></li>
    <li><a href="/elk_dashboard_landing3">Response Monitoring</a></li>
    <li><a href="/elk_dashboard_landing4">Time Based Log Search</a></li>
    <li><a href="/project_team_info">Project Team Info</a></li>
    <li><a href="/" ng-click="logout();">Logout</a></li>
    <style>
  			.circle1{
     			width: 40px;
     			height: 40px;
     			border-radius: 50%;
     			background-color: green
  			}
		</style>
		<li class="circle1" ng-style="style">    </li>
</ul> 

        