<ul class="nav nav-tabs">
	<li class="sidebar-brand"><a href="#">ELK Administrator</a></li>
    <li><a href="#myModal" role="button" class="btn btn-default" data-toggle="modal">Dashboard</a></li>
    <li><a href="#myModal" role="button" class="btn btn-default" data-toggle="modal">Data Traffic Monitoring</a></li>
    <li><a href="#myModal" role="button" class="btn btn-default" data-toggle="modal">Response Time Graphs</a></li>
    <li><a href="#myModal" role="button" class="btn btn-default" data-toggle="modal">Response Monitoring</a></li>
    <li><a href="#myModal" role="button" class="btn btn-default" data-toggle="modal">Time Based Log Search</a></li>
    <li><a href="#myModal" role="button" class="btn btn-default" data-toggle="modal">Project Team Info</a></li>
    <li><a href="#myModal" role="button" class="btn btn-default" data-toggle="modal">Logout</a></li>
    <style>
  			.circle1{
     			width: 40px;
     			height: 40px;
     			border-radius: 50%;
     			background-color: green;
     			margin-left:5px
  			}
		</style>
		<li class="circle1" ng-style="style">    </li>
</ul> 



        